body {
    background-color: #1CD3F8;
}

/*
    If in HTML:
    id="button" => CSS: #button
    class="button" => CSS: .button 
*/

#button {
    border: 1px solid #2d6898; /* Button border */
    text-transform: uppercase;
    font-family: arial;
    font-size: 24px; /* Button text font size */
    letter-spacing: 1px;
    text-decoration: none; /* Remove the underline of the button */

    position: relative;
    display: inline-block; /* ? */
    color:black; /* Text color */
    background-color: #FFE800; /* Button color */
    padding: 15px 40px; /* Size of button */

    box-shadow: -5px 5px #404040; /* Shadow to the left and to the right of given color of the button */
}

#button:hover {
    top: 3px; /* Go to the left */ 
    left: -3px; /* Go to the right */
    box-shadow: -2px 2px 0 #404040; /* Reduce the shadow of the button */
}
