body {
    background-color: #C6EDFF
}

/*
    If in HTML:
    id="button" => CSS: #button
    class="button" => CSS: .button 
*/

#button {
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    text-decoration: none; /* Remove the underline of the button */
    font-size: 24px; /* Button text font size */

    position: relative;
    display: inline-block; /* ? */
    
    color:black; /* Text color */
    background-color: #C46A6A; /* Button color */
    padding: 15px; /* Size of button */
    border: 1px solid; /* Button border */
    border-radius: 100% 50%;

    box-shadow: -5px 5px 0 #333; /* Shadow to the left and to the right of given color of the button */
}

#button:hover {
    top: 3px;
    left: -3px;
    box-shadow: -5px 5px #333;
    border-radius: 50% 100%;
    transition: all .05s;
}
