/*body {
    background-color: #d6d6d6;
}

/*
    If in HTML:
    id="button" => CSS: #button
    class="button" => CSS: .button 

#button {
    display: inline-block;
    text-decoration: none; /* Remove the underline of the button 
    color: #fff
}
*/

#Inner710 { width: 710px; margin: 0px auto; text-align: center;}
.box { text-align: justify; font-style: italic;}

#menu {
width: 100%;
background: #e0e0e0;
float: left;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 11em;
float: left;
}

#menu a, #menu h2 {
font: bold 11px/16px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #d0d0d0 #808080 #505050 #b0b0b0;
margin: 0;
padding: 2px 3px;
}

#menu h2 {
color: #f0f0f0;
background: #aabbff;
text-transform: uppercase;
}

#menu h2:hover {
    color: aqua;
    background: palevioletred;
}

#menu a {
color: purple;
background: #3d3d3d;
text-decoration: none;
}

#menu a:hover {
color: #102030;
background: #d0d0f0;
}

#menu ul ul {
    position: absolute;
    z-index: 100;
}

div#menu ul ul
{display: none;}

div#menu ul li:hover ul
{display: block;}

#idd {
    color: pink;
}
